<!DOCTYPE HTML>
<head>
    <title>SOCK ROCK THE BOAT</title>
    <link rel="stylesheet" href="painted.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!--CDN link for  TweenMax-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
    <script src="rockin.js"></script>
</head>
<body>
   <canvas id="can" width="1920px" height="1000px">
    </canvas>
    <div class="wrapper">
        <img src="boat.png" id="boat">
        <img src='sky.jpg' id="sky">
        <img src="waves.png" id="waves">
        <img src="sock.png" id="sock">
        
    </div>
</body>